.dates__title {
  text-align: start;
  margin-left: 1rem;
}

.dates__calendar {
  border-top: 1.5px solid var(--color-primary);
  padding: 10px;
  min-height: 25vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.dates__calendar .dates__btn {
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.react-datepicker__day--highlighted-custom-1 {
  background: palevioletred;
  color: white !important;
  border-radius: 5px;
}

/* .react-datepicker__day--highlighted-custom-2 {
  background: lightblue;
  color: red;
} */

.react-datepicker {
  font-size: 1.35em !important;
}
