header {
    position: fixed;
    z-index: 4;
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin-top: 0px;
    background-color: var(--color-tertiary);
    justify-content: space-between;
    padding-inline: 1rem;
}

nav {
    display: flex;
    align-items: center;
}

.link {
    margin-left: 10px;    
}

button {
    white-space: nowrap;
    margin-right: 10px;
}


#bgDiv {
    background-color:var(--color-primary);
    position: absolute;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .6s ease ;

        &.active{
            position: absolute;   
            border-radius: 0 0 80% 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 700px;
        }
}

.burger{
    @media(min-width: 415px){
      display: none;
    }
  }

@media (max-width: 414px) {
    header{
        display: flex;
        justify-content: space-between;
        padding:0;
        margin: 10px;
    }

    nav{
        display: none;
    } 
    

}